/* In "RESULTS TABLES" section:
-------------------------------*/

/* add horizontal scrollbar to large tables if needed */
div.results.collection-table {
  overflow-x: auto;
}

/* force wrapping of sequence table cells */
table.im-results-table td.residues {
  overflow-wrap: break-word;
  max-width: 500px;
}
div.report-page #header_wrap table td {
  vertical-align:top;
  word-break: break-word;
}

/* protocol urls too long */
table.im-results-table td.Protocol.url {
  /*overflow: hidden;
  text-overflow: ellipsis;*/
  word-break: break-all;
  max-width: 200px;
}

/* sequences in pop-ups are too long */
.popover table td.residues {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 300px;
}
/* other analysis fields also too long (FAANGMine only) */
.popover .Analysis table td {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}
/* some urls in pop-ups too long */
.popover table td.url {
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
  word-break: keep-all;
}

/* In "NAVIGATION" section:
-------------------------------*/

#submenu {  margin: -2px 0px 0px -2px; }
